$blau: "blue";
$white: "white";
$navbar-height:                    50px !default;


/* Header all */
header#navbar{
  font-family: $font-family-serif;
  .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: $navbar-default-link-hover-color;
  }
  .dropdown-menu{
    background-color:$navbar-default-bg ;
    > li > a {
      color:$navbar-default-color;
      &:hover, &:focus{
        background-color:$navbar-default-link-active-bg;
      }
    }
  }
  svg {
    fill: $blau !important;
    path{
      stroke: white !important;
    }
  }
  li > a{
    padding-top:6px;
  }
  a:hover svg {
    path,rect{
      stroke: $navbar-default-link-hover-color !important;
    }
  }
   .active svg {
    path, rect{
      stroke: $navbar-default-link-active-color !important;
    }
  }

  /* Header large*/
 &.large{
    @media (min-width: $screen-sm) {
      .navbar-brand .glyphicon-home{
        font-size:130%;
        margin-top:15px;
      }
    }
    .logo{
      padding: 0px;
    }
    svg{
      height:30px;
      width:47px;
    }
    .serveis_ocell svg{
      width:30px;
    }
    .title-menu{
      font-size: $font-size-h2;
    }
    .description{
      font-size: $font-size-small;
      /*text-align:center;*/
    }
  }
  /* Header small*/
  &.small{
    li > a{
      padding-bottom:5px;
      padding-top: 5px;
      line-height: 33px;
    }
    .navbar-brand{
      margin-top:5px;
    }
    .logo-small{
      display:block;
      font-size:60%;
      text-align:center;
      color:#fff;
    }
    svg{
      height: $navbar-height - 5px;
      width:30px;
      vertical-align:top;
    }
    .serveis_ocell svg{
      width:25px;
    }
    .title-menu{
      font-size: $font-size-h4;//26px;
    }
    .description{
      display:none;
    }
  }
  /*Account menu*/
  .menu--account{
    font-family: $font-family-base;
    .top-username{
      color: #ddd;
      text-align:center;
      font-size: $font-size-small;
    }
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 75vh;
}


