{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'nav', 'navbar-nav') }}>
    {% else %}
      <ul{{ attributes.addClass('dropdown-menu') }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded? 'expanded',
          item.is_expanded and menu_level == 0 ? 'dropdown',
          item.in_active_trail ? 'active',
          item.class,
        ]
      %}
      {% if menu_level == 0 and item.is_expanded %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">
          <span class="">{{ item.title }}</span> <span class="caret"></span></br>
          <span class="">{{ item.url.getOption('attributes').title }}</span>
        </a>
      {% else %}
        <li{{ item.attributes.addClass(item_classes) }}>
        {#{ link(item.title, item.url) }#}
        <a href="{{ item.url }}" title="{{ item.url.getOption('attributes').title }}" data-drupal-link-system-path="node/id">
          {% if item.icon %}
            <span class="logo-main-menu">{{ source(item.icon) }}</span>
          {% endif %}
          <span class="title-menu">{{ item.title }}</span>
          {% if item.url.getOption('attributes').title %}
            </br>
              <div class="description">
                <small class="description-menu">{{ item.url.getOption('attributes').title }}</small>
              </div>
          {% endif %}
        </a>
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

